ion-item{
    --color: #ccc;
    border: 1px solid #ededed;
    border-radius: 3px;
    margin-bottom: 10px;
}
ion-button{
    --background: #7a3a9f;
}

.copyright {
  margin: 0 auto;
  text-align: center;
  color:grey;
  font-size: 9px;
}

ion-row {
text-align: center;
}
